@{
    ViewBag.BodyClass = "layout--admin";
    Layout = "_Layout";
}

<div class="homepage">
    <partial name="_NavbarPartial" />
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="text-center">
                Copyright &copy; @DateTimeOffset.Now.Year dotnetmud
            </div>
        </div>

    </footer>
</div>

@section Stylesheets {
    @RenderSection("Stylesheets", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
