.layout--account .accountpage {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../../img/fantasy_background.jpg) no-repeat;
    background-size: cover;

    > main {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        background: transparent;
        height: 100%;
        width: 100%;

        > .wrapper {
            background: white;
            border: 1px solid #333;
            border-radius: 1rem;
            display: block;
            padding: 1rem;
            min-width: 500px;
        }
    }

    > footer {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-basis: content;
        min-height: 3rem;
        background: black;
        color: white;
    }

    .provider-list {
        .provider-icon {
            font-size: 1.4rem;
            text-decoration: none;

            .auth-Microsoft {
                &::before {
                    content: "\f65d";
                }
            }

            .auth-Google {
                &::before {
                    content: "\f3f0";
                }
            }

            .auth-Facebook {
                &::before {
                    content: "\f344";
                }
            }
        }
    }
}
