.layout--developer {
    .tab-content {
        border-left: var(--bs-border-width) solid var(--bs-border-color);
        border-right: var(--bs-border-width) solid var(--bs-border-color);
        padding-left: 4px;
        padding-right: 4px;
    }
}
