@page
@model ChangePasswordModel
@{
    Layout = "_AccountLayout";
}

<div class="text-center">
        <h4 class="text-gray-800 mb-4">Change password</h4>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.OldPassword" class="form-control" placeholder="Old Password..." />
        <label asp-for="Input.OldPassword">@Html.DisplayNameFor(m => m.Input.OldPassword)</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Input.OldPassword"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" placeholder="New Password..." />
        <label asp-for="Input.Password">@Html.DisplayNameFor(m => m.Input.Password)</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password..." />
        <label asp-for="Input.ConfirmPassword">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>

    <div class="d-flex flex-row justify-content-around w-100 my-2">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>
