@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h4 class="text-gray-800 mb-4">Never displayed!</h4>
</div>
<p>This page is never displayed</p>