@page
@inject IWebHostEnvironment Environment
@model ForgotPasswordConfirmationModel
@{
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h4 class="text-gray-800 mb-4">Check your email!</h4>
</div>
<p>
    We've sent you an email with a link to reset your password.  Please check your email and click the link to complete the password reset process.
</p>
@if (Environment.IsDevelopment())
{
    <div class="text-center">
        <h5 class="text-gray-800 mb-4">DEVELOPMENT MODE</h5>
    </div>
    <p>
        When running in development mode, emails are not sent.  Check the logs for the password reset link.
    </p>
}
