@page
@model ForgotPasswordModel
@{
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h4 class="text-gray-800 mb-4">Forgot password?</h4>
</div>
<form id="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Username" class="form-control" placeholder="Email address..." />
        <label asp-for="Input.Username">@Html.DisplayNameFor(m => m.Input.Username)</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Input.Username"></span>
    </div>
    <div class="d-flex flex-row justify-content-around w-100 my-2">
        <button type="submit" class="btn btn-primary">Reset password</button>
    </div>
</form>

