@page
@model LockoutModel
@{
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h4 class="text-gray-800 mb-4">Account locked</h4>
    <p>Your account has been locked due to multiple failed login attempts.</p>
</div>
