@page
@model ResetPasswordModel
@{
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h4 class="text-gray-800 mb-4">Reset password</h4>
</div>
<form id="account" method="post">
    <input asp-for="Input.Code" type="hidden" />
    <input asp-for="Input.Username" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
        <label asp-for="Input.Password">@Html.DisplayNameFor(m => m.Input.Password)</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password..." />
        <label asp-for="Input.ConfirmPassword">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <div class="d-flex w-100 justify-content-center flex-row">
        <button type="submit" class="btn btn-primary">Reset password</button>
    </div>
</form>
